node_modules/
dist/
build/
bin/
obj/
packages/
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
*.log
*.cache
*.tmp
.coverage
coverage/
.idea/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.backup
*.zip
*.tar.gz
*.tgz